<section class="resume-section" id="about">
    <div class="resume-section-content">
          <h1 class="mb-0">
             Luis Alejandro Medina 
             <span class="text-primary">LAM</span>
          </h1>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
              <div class="subheading mb-5">
                <a href="mailto:lamedinaa@gmail.com">lamedinaa@gmail.com</a>
                <br>                         
             </div>
             <p class="lead mb-5">
                    
                    <div id="accordion">
                        <h3>Perfil</h3>
                        <div>
                          <p>
                              <ul class="list-group">
                                <li class="list-group-item">
                                  Matemático de la Universidad Nacional de Colombia y 
                                  estudiante de maestría en Ingeniería de Sistemas y Computación de la Universidad de los Andes.  
                                </li>
                                <li class="list-group-item">
                                  Tengo gran pasión por resolver problemas díficiles y implementar soluciones, si te gustan también da click <a href="/milaboratorio/programmingchallenges">AQUÍ</a>
                                </li>
                                <li class="list-group-item">
                                  <div class="flex-shrink-0" style="text-align:center;">
                                    <div class="social-icons">
                                      <a class="social-icon" href="https://www.linkedin.com/in/luis-alejandro-medina-6310a4a7/"><i class="fab fa-linkedin-in"></i></a>
                                      <a class="social-icon" href="https://github.com/lamedinaa/"><i class="fab fa-github"></i></a>
                                   </div>
                                </li>
                              </ul>        
                          </p>
                        </div>
                        <h3>Experiencia en programación</h3>
                        <div>
                          <p>
                              <ul class="">
                                  <li class="list-group-item">
                                    Cuento con experiencia en desarrollo en python, 
                                    con frameworks como django y flask implementando arquitectura REST con 
                                    bases de datos MySQL, PostgreSQL, etc.
                                  </li>
                                  <li class="list-group-item">
                                    En mis desarrollos he usado herramientas/Librerias como Pandas y Numpy para la ingenieria de 
                                    datos, aportando soluciones de infraestructura en ciencia de datos.
                                  </li>
                                  <li class="list-group-item">
                                    <div class="flex-shrink-0" style="text-align:center;">
                                      <div class="social-icons">
                                        <a class="social-icon" href="https://www.linkedin.com/in/luis-alejandro-medina-6310a4a7/"><i class="fab fa-linkedin-in"></i></a>
                                        <a class="social-icon" href="https://github.com/lamedinaa/"><i class="fab fa-github"></i></a>
                                     </div>
                                  </li>
                                </ul>
                          </p>
                        </div>
                        <h3>Experiencia en implementación y programación RPA</h3>
                        <div>
                          <p>
                            <ul class="list-group">
                              <li class="list-group-item">Cuento con experiencia en desarrollo RPA y diseño de
                                arquitecturas para la implementación de soluciones a gran escala.
                              </li>
                              <li class="list-group-item">Manejo de herramientas como Uipath y Blue Prism.</li>
                              <li class="list-group-item"> 
                                He implementado y liderado Centros de Excelencia en Robótica para proyectos nacionales e internacionales.
                              </li>
                              <li class="list-group-item">
                                <div class="flex-shrink-0" style="text-align:center;">
                                  <div class="social-icons">
                                    <a class="social-icon" href="https://www.linkedin.com/in/luis-alejandro-medina-6310a4a7/"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-icon" href="https://github.com/lamedinaa/"><i class="fab fa-github"></i></a>
                                 </div>
                              </li>
                            </ul>
                          </p>
                        </div>
                     </div>
                <br>   
              </p>
            </div>
            <!-- <div class="flex-shrink-0">
              <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/luis-alejandro-medina-6310a4a7/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/lamedinaa/"><i class="fab fa-github"></i></a>
             </div> -->
            </div>
        </div>   
    </div>
</section>