<section class="resume-section" id="about">
    <div class="resume-section-content">
          <h1 class="mb-0">
             Luis Alejandro Medina
             <span class="text-primary">LAM</span>
          </h1>
          <div class="subheading mb-5">
             <a href="mailto:lamedinaa@gmail.com">lamedinaa@gmail.com</a>
          </div>
          <p class="lead mb-5">
              Matemático de la Universidad Nacional de Colombia y estudiante de maestría en Ingeniería de Sistemas y Computación de la Universidad de los Andes,
              Dominio y experiencia en lenguajes como Python, C# y Visual Basic .Net y en herramientas como Uipath, Blue Prism, Django, PotgreSQL, SQL Server. 
              Cuento con experiencia implementando y liderando Centros de Excelencia en Robótica, con alta capacidad de análisis en desafíos técnicos y diseño de infraestructuras.
          </p>
          <div class="social-icons">
             <a class="social-icon" href="https://www.linkedin.com/in/luis-alejandro-medina-6310a4a7/"><i class="fab fa-linkedin-in"></i></a>
             <a class="social-icon" href="https://github.com/lamedinaa/"><i class="fab fa-github"></i></a>
             <a class="social-icon" href="https://www.VER SOLUCIÓN.com/lamedinaa?hr_r=1"><i class="fab fa-VER SOLUCIÓN"></i></a>
          </div>
    </div>
</section>