<section class="resume-section" id="about">
    <div class="resume-section-content">
          <h1 class="mb-0">
             Luis Alejandro Medina
             <span class="text-primary">LAM</span>
          </h1>
          <div class="subheading mb-5">
             <a href="mailto:lamedinaa@gmail.com">lamedinaa@gmail.com</a>
             <br>
             <div class="social-icons">
               <a class="social-icon" href="https://www.linkedin.com/in/luis-alejandro-medina-6310a4a7/"><i class="fab fa-linkedin-in"></i></a>
               <a class="social-icon" href="https://github.com/lamedinaa/"><i class="fab fa-github"></i></a>
               <a class="social-icon" href="https://www.VER SOLUCIÓN.com/lamedinaa?hr_r=1"><i class="fab fa-VER SOLUCIÓN"></i></a>
            </div>
          </div>

          <p class="lead mb-5">
              Matemático de la Universidad Nacional de Colombia y estudiante de maestría en Ingeniería de Sistemas y Computación de la Universidad de los Andes.
              
              <div id="accordion">
               <h3>Experiencia en programación</h3>
               <div>
                 <p>
                     <ul class="">
                        <li class="list-group-item">Python</li>
                        <li class="list-group-item">Visual Basic .Net</li>
                        <li class="list-group-item">Arquitectura REST</li>
                        <li class="list-group-item">Django</li>
                        <li class="list-group-item">PotgreSQL</li>
                        <li class="list-group-item">SQL Server</li>
                     </ul>
                 </p>
               </div>
               <h3>Experiencia en RPA</h3>
               <div>
            
                  <ul class="list-group">
                     <li class="list-group-item">Uipath</li>
                     <li class="list-group-item">Blue Prism</li>
                     <li class="list-group-item">Arquitectura RPA</li>
                     <li class="list-group-item"> implementando y liderando Centros de Excelencia en Robótical </li>
                     <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
       
               </div>
               <h3>Perfil</h3>
               <div>
                 <p>
                 Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                 Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                 ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                 lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                 </p>
                 <ul>
                   <li>List item one</li>
                   <li>List item two</li>
                   <li>List item three</li>
                 </ul>
               </div>
               <h3>Section 4</h3>
               <div>
                 <p>
                 Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                 et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                 faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                 mauris vel est.
                 </p>
                 <p>
                 Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                 inceptos himenaeos.
                 </p>
               </div>
             </div>


             <br>




              
          </p>
          
    </div>
</section>