<section class="resume-section" id="codigomiportafolio">
    <div class="resume-section-content">
          <h2 class="mb-5"><i class="fas fa-code fa-2x" style="color:green"></i>&nbsp &nbspCódigo mi portafolio</h2>
          <div class="container">
             <div class="row">
                <div class="col-sm-12">
                    <h3></h3>
                    <p>
                        El código de esta página o de este portafolio web está escrito con el framework django, usando el módulo de plantillas nativo del framework, además de no usar 
                        ninguna base de datos pues niguna es el propósito de esta web, sin embargo, próximamente verás una actualización con React que estoy diseñando. <br>
                    </p>
                    <p>
                      Si quieres ver el código de este portafolio dá click <a href="https://github.com/lamedinaa/miportafolio">Aquí</a> te redireccionará al repositorio GitHub
                      del código.
                    </p>
                </div>

             </div>
          </div>
    </div>
 </section>