<section class="resume-section" id="experience">
   <div class="resume-section-content">
         <h2 class="mb-5">Experiencia</h2>
         <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
               <h3 class="mb-0">Senior Consultant</h3>
               <div class="subheading mb-3">Indra Company</div>
               <p>Diseñar soluciones de arquitectura y optimizaciones para entregar soluciones RPA a gran escala.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Enero 2021 - Actual</span></div>
         </div>
         <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
               <h3 class="mb-0">Lider en IA y RPA</h3>
               <div class="subheading mb-3">Proa IA</div>
               <p>
                  Liderar tecnicamente los procesos de automatización en RPA. Proponer, desarrollar e implementar la
                  integración con aréas de Inteligencia artificial
                  por medio del lenguaje de programación python.
               </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Agosto 2020 - Enero 2021</span></div>
         </div>
         <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
               <h3 class="mb-0">Analista de Ingeniería 1 software</h3>
               <div class="subheading mb-3">Personalsoft S.A.S</div>
               <p>
                  Liderar técnicamente en el diseño y funcionamiento del centro de excelencia RPA, como también apoyar los desarrollos de los Bots en Falabella Colombia.
                  Desarrollador del robot en Bancoldex Posición Propia.
               </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Abril 2019 - Agosto 2020</span></div>
         </div>
         <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
               <h3 class="mb-0">RAP Developer</h3>
               <div class="subheading mb-3">Fourier Ingeniería Inteligente</div>
               <p>
                  - Apoyo en labores RPA para Fourier Tech SAS.
                  - Desarrollador y diseñador del robot ARCO I, II, III para Ecopetrol.
                  - Conformación de célula de fabrica Robótica en Ecopetrol.
               </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Agosto 2018 - Abril 2019</span></div>
         </div>
   </div>
</section>