{% extends 'base/base.html' %}

   {% block title %} 
      Portafolio LAM
   {% endblock %}



{% block content %} 
         <div class="container-fluid p-0">

            {% include 'miperfil/about.html' %}
            {% include 'miperfil/experiencia.html' %}
            {% include 'miperfil/educacion.html' %}
            {% include 'miperfil/pythonchallenges.html' %}
            {% include 'miperfil/codigoportafolio.html' %}

         </div>
         <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
         <link rel="stylesheet" href="/resources/demos/style.css">
         <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
         <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
         <script>
               $("#accordion").accordion();
         </script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
         <script src="js/scripts.js"></script>

{% endblock %}