<section class="resume-section" id="interests">
    <div class="resume-section-content">
          <h2 class="mb-5">Mi laboratorio</h2>
          <div class="container">
             <div class="row">
                <div class="col-sm-4">
                    <h3>Código de mi portafolio</h3>
                    <p>Para ver el código de este portafolio da click <a href="https://github.com/lamedinaa/miportafolio"><h4>Aquí</h4></a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>Programming Challenges</h3>
                    <p>
                        Acá encontrarás retos que he resuelto puesto me apasiona el tema y los retos, algunos problemas de campeonato tal como "Project Euler" y otros problemas sencillos
                        propuestos por HackerRank, ¡eso sí! si eres un científico de la programación intenta hacerlos tú y no te pierdas de la experiencia, ¡todo en código python!
                        <a href="/milaboratorio/programmingchallenges"><h4>AQUÍ</h4></a>
                    </p>
                    
                </div>
                <div class="col-sm-4">
                    <h3>Ejercicios</h3>
                        <p>Acá encontraras ejercicios sencillos en python, ¡siempre es bueno calentar! <a href="/milaboratorio/ejercicios/"><h4>AQUÍ</h4></a>  </p>
                </div>
             </div>
          </div>
    </div>
 </section>