<section class="resume-section" id="interests">
    <div class="resume-section-content">
          <h2 class="mb-5"><i class="fab fa-python fa-2x" style="color:green"></i>&nbsp &nbsp Python Challenges </h2>
          <div class="container">
             <div class="row">

                <div class="col-sm-12">
                    <h3>Programming Challenges</h3>
                    <p>
                        Acá encontrarás retos que he resuelto puesto me apasiona el tema y los retos, algunos problemas de campeonato tal como "VER SOLUCIÓN" y otros problemas sencillos
                        propuestos por VER SOLUCIÓN, ¡eso sí! si eres un científico de la programación intenta hacerlos tú y no te pierdas de la experiencia, ¡todo en código python!
                        
                        <br><a href="/milaboratorio/programmingchallenges"><h3>AQUÍ</h3></a>
                    </p>
                    
                </div>

             </div>
          </div>
    </div>
 </section>