{% extends 'base/base.html' %}


{% block title %}
    MI LABORATORIO
{% endblock %}





{% block content %}
<div class="container-fluid p-0">

    <section class="resume-section" id="about">
        <div class="resume-section-content">
              <h1 class="mb-0">
                 Primer problema
                 <span class="text-primary">Chess Challenge</span>
              </h1>
              <div class="subheading mb-5">
                 <a href="mailto:lamedinaa@gmail.com">lamedinaa@gmail.com</a>
              </div>
              <script src="https://gist.github.com/lamedinaa/92899f46bbab63b3a749680b97b529e9.js"></script>

        </div>
    </section>
    
 </div>
 


{% endblock %}

